
body {
 margin: 0;
 padding: 0;
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 font-size: 14px;
 color: #333;
 background-color: #fff;
}

a {
 color: #0134c5;
 background-color: transparent;
 text-decoration: none;
 font-weight: normal;
 outline-style: none;
}
a:visited {
 color: #0134c5;
 background-color: transparent;
 text-decoration: none;
 outline-style: none;
}
a:hover {
 color: #000;
 text-decoration: none;
 background-color: transparent;
 outline-style: none;
}


#content {
 margin: 20px 40px 0 40px;
 padding: 0;
}

#content p {
 margin: 12px 20px 12px 0;
}

#content h1 {
color: #e13300;
border-bottom: 1px solid #666;
background-color: transparent;
font-weight: normal;
font-size: 24px;
margin: 0 0 20px 0;
padding: 3px 0 7px 3px;
}

#content h2 {
 background-color: transparent;
 border-bottom: 1px solid #999;
 color: #000;
 font-size: 18px;
 font-weight: bold;
 margin: 28px 0 16px 0;
 padding: 5px 0 6px 0;
}

#content h3 {
 background-color: transparent;
 color: #333;
 font-size: 16px;
 font-weight: bold;
 margin: 16px 0 15px 0;
 padding: 0 0 0 0;
}

#content h4 {
 background-color: transparent;
 color: #444;
 font-size: 14px;
 font-weight: bold;
 margin: 22px 0 0 0;
 padding: 0 0 0 0;
}

#content img {
 margin: auto;
 padding: 0;
}

#content code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 0px 0;
 padding: 12px 10px 12px 10px;
}

#content pre {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}

#footer {
background-color: transparent;
font-size: 10px;
padding: 16px 0 15px 0;
margin: 20px 0 0 0;
text-align: center;
}

#footer p {
 font-size: 10px;
 color: #999;
 text-align: center;
}
#footer address {
 font-style: normal;
}

